@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    display: inline-block;
}
ul, ol{
    list-style-type: none;
}
.container{
    width: 100%;
    margin: 0px auto;
}
h1, h2, h3, h4, h5, h6, p{
    line-height: 0.8;
}

.headings_part{
    margin-top: 28px;
}
#heading{
    padding-left: 16px;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: auto;
    color: #FC6F0A;
}
.chatting_part{
    margin-top: 25px;
}
.chatting_wrapper{
    display: flex;
    column-gap: 25px;
    padding-left: 20px;
}
.left_part{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: last baseline;
}
.profile_wrapper{
    padding-top: 15px;
    display: flex;
    column-gap: 3px;
    align-items: center;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: auto;
    color: #FC6F0A;
}
.right_part{
    margin-right: 27px;
    margin-bottom: 27px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
    justify-content: space-between ;
}

.message_showing_part{
    height: 322px;
    width: 100%;
    background: #EFEFEF;
    padding: 27px 28px;
    display: flex;
    flex-direction: column;
    row-gap: 28px;
    border-radius: 10px;
    overflow-y: auto;
}
.message_showing_part .message p{
    padding: 8px 16px;
}
.message_showing_part .outgoing{
    display: flex;
}
.outgoing .data{
    text-align: right;
    margin-left: auto;
    max-width: calc(100% - 100px);
}

.outgoing .data p{
    background: whitesmoke;
    border-radius: 47px 47px 0px 47px;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: auto;
    color: #FC6F0A;
}

.message_showing_part .incoming{
    display: flex;
}
.incoming .data{
    text-align: left;
    margin-right: auto;
    max-width: calc(100% - 100px);
}

.incoming .data p{
    background: #FC6F0A;
    border-radius: 47px 47px 47px 0px;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: auto;
    color: whitesmoke;
}

.message_texting_part{
    display: flex;
    column-gap: 5px;
    align-items: center;
    justify-content: space-between;

}

.message_texting_part input{
    background: #EFEFEF;
    width: 828px;
    height: 45px;
    border-radius: 45px;
    padding: 15px 15px;
    border-width: 0px;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: auto;
    color: #FC6F0A;
}
.message_texting_part button{
    background: transparent;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    border-width: 0px;
}
