@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    display: inline-block;
}
ul, ol{
    list-style-type: none;
}
.container{
    width: 100%;
    margin: 0px auto;
}
h1, h2, h3, h4, h5, h6, p{
    line-height: 0.8;
}
body{
    background-image: url("/Images/background2.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100% 100%;
}

nav{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.nav_wrapper{
    padding-top: 29px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 437px;
}

.logo{
    padding-left: 77px;
}
.menu{
    padding-right: 77px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 44px;
}
.menu ul{
    padding: 19px 33px;
    border-radius: 20px;
    background-color: rgba(217, 217, 217, 0.10);
    display:flex;
    align-items: center;
    justify-content: center;
    column-gap: 96px;
}
.menu ul li a{
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: auto;
    transition: all linear 0.2s;
}
.menu ul li a:hover{
    color: whitesmoke;
}

.project_overview_wrapper{
    margin-top: 188px;
    margin-left: 102px;
    margin-right: 70px;
    background: transparent;
    display: flex;
    column-gap: 30px;
    align-items: center;
    backdrop-filter: blur(150px);
    border-radius: 47px;
}

.buttonpanel{
    width: 55px;
    background: #F6650E;
    border-radius: 47px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 436px;
}
#upper_part{
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 22px;
}
#lower_part{
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content{
    border-radius: 20px;
    background: whitesmoke;
    overflow-y: auto;
}

